<%- include('partials/header') -%>
<main>
<section class="container-todos">
  <div class="row mt-5">
    <div class="col-6">
    <h1>Todos</h1>
    <ul>
    <% todos.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                <span class='del'> Delete </span>
            </li>
    <% }) %>    
    </ul>

    <h2><%= user.userName %> has <%= left %> things left to do.</h2>

    <form action="/createTodo" method='POST'>
        <input type="text" placeholder="Enter Todo Item" name='todoItem'>
        <input type="submit">
    </form>
    </div>
  </div>
</section>
  <section class="container-weather">
      <div class="shadow-sm p-3 mb-5 bg-body rounded main-border">
        <form action="/weather" method="POST" class="search">
          <div class="row">
            <div class="col-md-6">
              <div class="input-group mb-3">
                <!-- added in lg after form control to shorten input field -->

                <input
                  type="text"
                  class="form-control"
                  for="city"
                  name="city"
                  id="city"
                  placeholder="Enter City"
                  aria-describedby="button-addon2"
                />
                <input placeholder="Submit" type="submit">
              </div>
            </div>
            <div class="col-md-6">
              <h4 id="displayCity"></h4>
              <p id="timedisplay"></p>
              <p class="weather-description"></p>
            </div>
          </div>
        </form>
        <div class="row">
          <div class="col-sm-6">
            <div class="display-temperature">
              <div class="d-flex">
                <img
                  src=""
                  alt="Clear"
                  id="icon"
                  class="float-left"
                />
                <div class="float-left">
                  <span class="main-temp"></span
                  ><span class="forc"
                    ><a href="" class="fahrenheit">°F</a>|<a
                      href=""
                      class="celsius"
                      >°C</a
                    ></span
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <ul>
              <li>Wind:<span class="wind"></span>mph</li>
              <li>Humidity: <span class="humidity"></span>%</li>
            </ul>
          </div>
        </div>
        <div class="container weather" id="weather-cast">

        </div>
      </div>
      
    </section>
    </main>
 <a href="/logout">Logout</a>
<%- include('partials/footer') -%>
